@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

:root {
  font-family: 'Galmuri9', sans-serif;
  font-size: 10px;
}

* {
  margin: unset;
  padding: unset;
}

button {
  all: unset;
  display: inline-block;
  cursor: pointer;
}

body {
  padding: 6rem 5rem;
  /* background: #7571aa;
  background: #e4728d; */
  background: #7abbd5;
  font-size: 1.4rem;
}

h1 {
  font-family: 'Galmuri7', sans-serif;
  /* color: #ffdf9b; */
  color: #f9dc42;
  /* text-shadow: -5px 0 #71678a, 0 5px #71678a, 5px 0 #71678a, 0 -5px #71678a; */
  text-shadow: -6px 0 #3361a8, 0 6px #3361a8, 6px 0 #3361a8, 0 -6px #3361a8;
  font-size: 6rem;
  margin-top: -1.4em;
  letter-spacing: -0.6px;
  margin-bottom: 0.2em;
  white-space: nowrap;
}

.card-list {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  /* background: #b5b1e8; */
  background: #a4cf8d;
  /* border: .4rem solid #333847; */
  border: .4rem solid #efefef;
  border-radius: 2rem;
  padding: 4rem 2rem;
  position: relative;
}

.card-inner {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 2rem;
}

.poket-card {
  /* background: #d1cefd; */
  background: #fff;
  /* border: .4rem solid #e4728d; */
  /* border: .4rem solid #999; */
  border-radius: 1.5rem;
  padding: 2rem;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);

}

.poket-name {
  font-size: 2.6rem;
  color: #fff;
  text-shadow: -2px 0 #666181, 0 2px #666181, 2px 0 #666181, 0 -2px #666181;
}

.poket-type {
  margin: auto 0 0;
  font-size: 1.4rem;
  display: flex;
  gap: 0.6rem;
}

.poket-type span {
  font-size: 1.5rem;
  width: 100%;
  background: #e997ac;
  padding: 0 0.6em .2em;
  line-height: 1.6;
  border-radius: .6em;
  color: #efefef;
}

.poket-type .normal {
  background: #aaa;
  box-shadow: 0px 4px 0 #868484;
}

.poket-type .poison {
  background: #9c7fbc;
  box-shadow: 0px 4px 0 #7d6797;
}

.poket-type .fire {
  background: #e6855f;
  box-shadow: 0px 4px 0 #c3775a;
}

.poket-type .flying {
  background: #87afdc;
  box-shadow: 0px 4px 0 #779ac2;
}

.poket-type .water {
  background: #5185c5;
  box-shadow: 0px 4px 0 #4d6e96;
}

.poket-type .bug {
  background: #a0a244;
  box-shadow: 0px 4px 0 #7c7e35;
}

.poket-type .grass {
  background: #8ab873;
  box-shadow: 0px 4px 0 #658953;
}

.poket-type .electric {
  background: #f7dc64;
  box-shadow: 0px 4px 0 #cfb542;
  color: #666;
}

.poket-type .ground {
  background: #9c7743;
  box-shadow: 0px 4px 0 #7a5a2d;
}

.poket-type .fairy {
  background: #dda5d4;
  box-shadow: 0px 4px 0 #b38bad;
}

.poket-type .psychic {
  background: #de6b7a;
  box-shadow: 0px 4px 0 #b05b66;
}

.poket-type .ice {
  background: #6cc8eb;
  box-shadow: 0px 4px 0 #57aed0;
}

.poket-type .steel {
  background: #6aa9c7;
  box-shadow: 0px 4px 0 #5e899e;
}

.poket-type .rock {
  background: #bfb889;
  box-shadow: 0px 4px 0 #a0996a;
}

.poket-type .dark {
  background: #666;
  box-shadow: 0px 4px 0 #474646;
}

.poket-type .ghost {
  background: #684870;
  box-shadow: 0px 4px 0 #4c3152;
}

.poket-type .fighting {
  background: #e09c41;
  box-shadow: 0px 4px 0 #c68732;
}


.poket-img {
  aspect-ratio: 1/.5;
  width: 100%;
  object-fit: scale-down;
  margin: 1rem 0;
}

.more-btn {
  font-size: 2.8rem;
  background: #e4728d;
  padding: 0 2em 0.2em;
  border-radius: 0.4em;
  box-shadow: 0px 6px 0 #892d4b;
  line-height: 1.4;
  width: 60vw;
  position: absolute;
  bottom: -1.2em;
  left: 50%;
  transform: translateX(-50%);
}

.popup {
  position: fixed;
  inset: 0;
  width: 80vw;
  height: 54vh;
  max-width: 60rem;
  max-height: 50rem;
  font-size: 1.6rem;
  word-break: keep-all;
  margin: auto;
  background: #fff;
  border-radius: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: .3s opacity;
}

.popup::before {
  content: '';
  position: fixed;
  inset: 0;
  z-index: -1;
  /* backdrop-filter: blur(5rem); */
  background: rgba(0, 0, 0, 0.4);
}

.popup.is-active {
  opacity: 1;
  visibility: visible;
}

.popup-inner {
  padding: 5rem 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(/popup-bg.jpg) no-repeat bottom center / cover;
  height: 100%;
  box-sizing: border-box;
}

.popup .name {
  font-size: 3rem;
  color: #f9dc42;
  text-shadow: -4px 0 #3361a8, 0 4px #3361a8, 4px 0 #3361a8, 0 -4px #3361a8;
}

.popup .info {
  display: flex;
  gap: .6em;
  padding: 1.4rem 0 2.8rem;
}

.popup .info span {
  display: inline-block;
  background: #efefef;
  border-radius: .4em;
  padding: 0 0.4em;
}

.popup img {
  /* object-fit: scale-down; */
  pointer-events: none;
  /* width: 20rem; */
  margin-top: auto;
  transform: scale(1.2);
}

.popup-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  border-radius: 50%;
  background: #fff;
  width: 4rem;
  height: 4rem;
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s all;
}

.popup-close::after {
  content: 'x';
  display: block;
  transform: translate(0.2rem, -0.3rem) scaleX(1.2) scale(1.2);
}

.popup-close:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.popup-close span {
  height: 0;
  opacity: 0;
  text-indent: -9999px;
  overflow: hidden;
}


@keyframes popup_img {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  50% {
    transform: translate(-50%, -50%) scale(.95);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@media (max-width: 768px) {
  :root {
    font-size: 9px;
  }

  body {
    padding: 6rem 1.5rem;
  }

  .card-inner {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}